@charset "UTF-8";

article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p,
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
}

li a {
  display: inline;
}

.headers {
  background-color: #11233b;
  color: white;
  padding: 10px 20px;
}

.navi {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
